# Composer dependencies
/vendor/

# Environment files
.env
.env.local
.env.*.local
.env.produc

# Log files
*.log
logs/
*.log
*.md

# Cache
/tmp_cache/
.php-cs-fixer.cache
.phpunit.cache

# Production build
/build/

# Miscellaneous
.idea/
.vscode/
.DS_Store
Thumbs.db
*.bak.similar
